@model LoginViewModel
@{
    ViewData["title"] = "Login Page";
}
<section >
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Login to your account</h2>
					<form asp-action="Login" asp-controller="Account">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label for="UserName" class="form-label">Name</label>
							<input asp-for="UserName" class="form-control" id="UserName">
							<span asp-validation-for="UserName" class="text-danger" />
						</div>
						<div class="form-group">
							<label for="Password" class="form-label">Password</label>
							<input asp-for="Password" class="form-control" id="Password">
							<span asp-validation-for="Password" class="text-danger" />
						</div>
						<button class="btn btn-default">Login</button>
						<a asp-action="Register" asp-controller="Account">Tạo tài khoản mới</a>
					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}